.saitama_option{
  display:inline-block;
  width:200px;
  padding:10px;
  border:1px solid grey;
  margin-right:5px;
  cursor:pointer;
  text-align: center;
}

.saitama_option:hover{
  cursor:pointer;
}

.saitama_option_right{
  background-color:#EBEBEB;
}
.saitama_option_center{
  background-color:#EBEBEB;
}

.saitama_option_left{
  color:steelblue;
}

.saitama_content_window{
  width:95%;
  border:1px solid grey;
  padding:50px;
  margin: 0 auto;
  padding: 30px 0px 0px 0px;
  text-align:left;
}

.saitama_select_container{
  padding-top:80px;
  padding-bottom: 15px;
}

.campaign_select_container{
  border:1px solid gainsboro;
  margin:10px 10px 10px 10px;
}

.campaign_select_option_ul{
  list-style:none;
  font-size:17px;
  padding:10px;
  font-family:serif;
  border:1px solid white;
}

.campaign_option_name{
  color:black;
  border:none;
  font-family:serif;
  font-size:17px;
}

.campaign_select_option{
  padding:5px;
}

.campaign_select_option input:hover{
  cursor:pointer;
}

.campaign_select_option:hover{
  cursor:pointer;
}

.create_new_campaign_btn:hover{
  background-color:gainsboro;
  padding:5px;
}

.create_new_campaign_btn{
  text-align: center;
  border:1px solid black;
  border-radius:3px;
}

.campaign_select_option_hr{
   background-color:gainsboro;
   height:1px;
   border:0;
}

.create_new_campaign_container, .name_campaign_container{
  background-color:steelblue;
  text-align:center;
  padding:20px;
  margin:10px 10px 10px 10px;
  border-radius:3px;
}

.campaign_url_entry_header, .name_campaign_header{
  color:white;
  padding-bottom:10px;
  font-size: 20px;
}

.campaign_url_entry{
  width: 70%;
}

.edit_campaign_name_entry{
  width:40%;
}

.campaign_url_entry, .edit_campaign_name_entry{
  padding:4px;
}

.campaign_url_entry_button:hover, .campaign_name_btns:hover{
  cursor:pointer;
  background-color:gainsboro;
}

.campaign_url_entry_button{
  margin-left:10px;
  padding:5px;
  border-radius:3px;
}

.campaign_name_btns{
  margin-left:10px;
  padding:5px;
  border-radius:3px;
  width:80px;
}

.save_campaign_name_button{
  color:green;
}

.filter_form_ul_options{
  display:none;
}
