.saitama_option{
  display:inline-block;
  width:200px;
  padding:10px;
  border:1px solid white;
  border-radius:3px;
  margin-right:5px;
  cursor:pointer;
  text-align: center;
  font-size: 14px;
}

.saitama_option:hover{
  cursor:pointer;
}

.saitama_option_center{
  font-weight:bold;
}

.saitama_option_right{
  background-color:#F5F5F5;
}

.saitama_option_left{
  background-color:#F5F5F5;
}

.saitama_content_window{
  width:95%;
  border:1px solid grey;
  padding:50px;
  margin: 0 auto;
  padding: 30px 0px 0px 0px;
  text-align:left;
}

.saitama_select_container{
  padding-top:80px;
  padding-bottom: 15px;
}

.campaign_select_container{
  border:1px solid gainsboro;
  margin:10px 10px 10px 10px;
}

.campaign_select_option_ul{
  list-style:none;
  font-size:17px;
  padding:10px;
  font-family:serif;
  border:1px solid white;
}

.campaign_option_name{
  color:black;
  border:none;
  font-family:serif;
  font-size:17px;
}

.campaign_select_option{
  padding:5px;
}

.campaign_select_option_hr{
   background-color:gainsboro;
   height:1px;
   border:0;
}

.create_new_campaign_container, .name_campaign_container{
  background-color:steelblue;
  text-align:center;
  padding:20px;
  margin:10px 10px 10px 10px;
  border-radius:3px;
}

.campaign_url_entry_header, .name_campaign_header{
  color:white;
  padding-bottom:10px;
  font-size: 20px;
}

.campaign_url_entry{
  width: 70%;
  border:2px solid gainsboro;
  border-radius:3px;
}

.edit_campaign_name_entry{
  border:2px solid gainsboro;
  border-radius:3px;
  width:40%;
}

.campaign_url_entry, .edit_campaign_name_entry{
  padding:4px;
}

.campaign_url_entry_button:hover, .campaign_name_btns:hover{
  cursor:pointer;
  border:2px solid black;
}

.campaign_url_entry_button{
  margin-left:10px;
  padding:6px;
  border-radius:3px;
  border:2px solid grey;
}

.campaign_name_btns{
  margin-left:10px;
  padding:5px;
  border-radius:3px;
  width:80px;
  border:2px solid grey;
}
