.secondary_campaign_workstation_container{
  display:flex;
  vertical-align: top;
}

.campaign_workstation_container, .workstation_filter_container{
  list-style: none;
  font-size: 17px;
  padding: 10px;
  font-family: serif;
  border: 1px solid gainsboro;
  margin: 10px 10px 10px 10px;
}

.campaign_workstation_title{
  font-family: serif;
  font-size: 30px;
  border:none;
  width:80%;
  padding: 10px 0px 10px 0px;
}

.campaign_workstation_left, .campaign_workstation_right{
  border:1px solid black;
}

.campaign_workstation_left{
  margin-right:2px;
  width:20%;
  padding:40px 10px 40px 10px;
}

.campaign_workstation_right{
  margin-right:3px;
  width:72%;
  padding:20px;
}

.workstation_lead_list:hover{
  cursor:pointer;
  opacity:0.8;
  border:2px solid black;
}

.workstation_lead_list{
  display:block;
  margin:4px 4px 12px 4px;
  padding:6px;
  width:86%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 3px;
  border:2px solid gainsboro;
  color:black;
  text-align:center;
}

.workstation_create_new_lead_list_btn:hover{
  cursor:pointer;
  border:2px solid orange;
}

.workstation_create_new_lead_list_btn{
  display:block;
  margin:4px 4px 12px 4px;
  padding:6px;
  width:86%;
  border:2px solid grey;
  background-color:white;
  border-radius:3px;
}

.right_workstation_lead_list_title{
  border:none;
  font-size:20px;
  display:inline-block;
  width: 150px;
}

.right_workstation_leads_data{
  display:block;
  width:90%;
  border:none;
  margin:4px 0px 4px 0px;
}

.right_workstation_edit_lead_list_btn:hover{
  cursor:pointer;
}

.right_workstation_edit_lead_list_btn{
  display:inline-block;
}

.right_workstation_edit_container{
  display:inline-block;
}
