.home_banner_text{
  display:inline-block;
  text-align:center;
  width:50%;
  padding:0px 30px 30px 30px;
}

.home_img{
  height:73px;
  width:70px;
  border:1px solid black;
  vertical-align: top; /* powerful */
  filter: grayscale(70%);
}

.home_content_container{
  padding-top:180px;
}

.features_container{
  border:1px solid lightgrey;
  margin-bottom:50px;
  width:50%;
  padding:5px 5px 10px 5px;
  display:inline-block;
  text-align:center;
}

.features_header{
  width:100%;
  display:inline-block;
  text-align:center;
  background-color:gainsboro;
}

.feature_icon{
  /* width:25%; */
  display:inline-block;
  float:left;
}

.feature_title{
  /* width:80px; */
  display:inline-block;
  margin-top: 30px;
  position: absolute;
  padding-left: 25px;
  font-size:30px;
}
