.cell input{
  border:none;
  border-bottom:1px solid grey;
}

.filter_form_first, .filter_form_second{
  display:flex;
  flex-wrap:wrap;
}

.cell{
  padding:5px;
  margin:3px;
  width:18%;
  border:1px solid grey;
}
