.header_center_content{
  width:60%;
  float:right;
  text-align: center;
}

.header_center_links{
  display:inline-block;
}

.header_center_links:hover{
  color:wheat;
}

.header_center_link1, .header_center_link2{
  padding-right:40px;
}
