body{
  margin:0;
}

textarea:focus, input:focus{
    outline: none;
}

.app_grey_background{
  width:100%;
  float:right;
  text-align: center;
  background-color:lightslategray;
}

.app_banner_title{
  color:grey;
  font-size: 30px;
  padding-bottom:16px;
}

.app_banner_container{
  background-color:white;
  padding:30px 0px 10px 0px;
  box-shadow:0px 2px 7px grey;
  position:absolute;
  width:100%;
}

.app_content_container{
  padding: 30px 0px 0px 0px;
  background-color:white;
  margin-left: 10%;
  margin-right: 10%;
}

.app_white_background_container{
  padding-bottom:100px;
}

.app_close_container:hover, .app_close_container_grey:hover{
  cursor:pointer;
}

.app_close_container_grey{
  color:grey;
  float: right;
  margin-top: -6px;
}

.app_close_container{
  color:white;
  float: right;
  margin-top: -6px;
}

button{
  font-family: 'Brandon Grotesque', Arial, sans-serif;
}

ul{
  list-style-type: none;
  padding: 0;
}
