body{
  margin:0;
}

textarea:focus, input:focus{
    outline: none;
}

.content_pages{
  width:100%;
  float:right;
  text-align: center;
  background-color:lightslategray;
}

.page_title{
  color:grey;
  font-size: 30px;
  padding-bottom:16px;
}
